<!-- AAU, I want to view a list of all flights 
(index view) that displays each flight's airline, 
airport, flight no., and departure date/time. -->

<%- include('../partials/header') %>

<form id="new-form" action="/flights" method="POST">
  <label>AAU:</label>
  <input type="text" name="title">
  <label>flight's airline:</label>
  <input type="text" name="AAU">
  <label>airport</label>
  <select name="sfo">
</form>

<%- include('../partials/footer') %>